.contenair{
    max-width: 1280px;
    width: 80vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 10vh;
    box-shadow: 20px 20px 50px #dadada, 
    -30px -30px 60px #f5f5f5;
    display: flex;
    gap: 25px;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
}
.contenair form{
    width: 80%;
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    gap: 25px;
}
.contenair .title{
    transform: translateY(-5vh);
}
.contenair .cont{
    display: flex;
}
.contenair .cont .do{
    animation: 2s teste ease-in-out infinite;
}
@keyframes teste {
    0%{
        color: red;
    }50%{
        color: #dadada;
    }85%{
        color: aqua;
    }
}
.contenair .cont .down{
    width: 25%;
    height: 130px;
    background-color: antiquewhite;
}
.contenair form .btn{
    background-color: rgb(30, 30, 247);
    color: white;
    font-weight: 600;
    height: 55px;
}
.one{
    display: flex;
    gap: 25px;
}
.one .leftone{
    width: 30vw;
    height: 50vh;
    background-image: url(../img/join.png);
    background-repeat: no-repeat;
}
.one .rightone{
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.one .rightone .btn{
    background-color: rgb(30, 30, 247);
    color: white;
    font-weight: 600;
    height: 55px;
}
.two{
    display: flex;
    gap: 25px;
}

.two .lefttwo{
    width: 30vw;
    height: 50vh;
    background-image: url(../img/modele.png);
    background-repeat: no-repeat;
}
.two .righttwo{
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.two .righttwo .btn{
    background-color: rgb(30, 30, 247);
    color: white;
    font-weight: 600;
    height: 55px;
}
.three{
    display: flex;
    gap: 25px;
}

.three .leftthree{
    width: 30vw;
    height: 50vh;
    background-image: url(../img/form.png);
    background-repeat: no-repeat;
}
.three .rightthree{
    width: 30vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.three .rightthree .btn{
    background-color: rgb(30, 30, 247);
    color: white;
    font-weight: 600;
    height: 55px;
}
@media screen and (max-width: 550px) {
    .contenair{
        height: 50vh;
    }
    .contenair .title{
        transform: translateY(5vh);
    }
    .leftone{
        display: none;
    }
    .rightone{
        width: 60vw!important;
        margin-left: 10vw;
    }
    .righttwo{
        width: 60vw!important;
        margin-left: 10vw;
    }

    .lefttwo{
        display: none;
    }
    .leftthree{
        display: none;
    }
    .three .rightthree{
        width: 40vw;
        height: 35vh;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        margin-left: 20vw;
    }
}