.nav{
    max-width: 1280px;
    height: 10vh;
    background-color: rgb(0, 0, 22);
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
.nav .titre{
    color: white;
    float: left;
    margin-left: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav .logo{
    float: right!important;
    margin-right: 5vw;
}
